# Dependencies
node_modules/
**/node_modules/
# Logs
logs/
*.log
npm-debug.log*
yarn-*.log*
pnpm-debug.log*
# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
# Builds
dist/
build/
.out/
# Misc
*.tmp
*.swp
